* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Kaushan Script', 'Neuton','Ledger','Fanwood-Text', 'Shrikhand','Adellove', 'Intro', 'Intro-Inline', 'Aller', sans-serif; */
}

#modal-header-background {
    background-image: url("../images/Multicultural Communities vector 1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}

.page__background {
    background-color: #f2f9fc;
    min-height: 100vh;
}

.hero__background {
    background-color: white;
    background-color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border-bottom: solid 10px #4788C8FF; 
}

.card {
    border: none;
}


#headingOne,

#headingThree,

#headingFive,
#headingSix {
    background: none;
}

.btn-link {
    color: black;
}

#headingTwo,
#headingFour {
    background:#f2f9fc;
}

.btn-lg {
    background: #4788C8FF;
    color: white;
}

.h6 {
    font-size: 50vw;
}

.h3__text {
    font-weight: normal;
    margin: 1rem;
    font-style: italic;
}


@media (min-width: 544px){
#h1__text {
    font-size: 8vw;
}

#h6__text {
    font-size: calc(100% + 1vw + 1vh);
}

.text__responsive {
    font-size: calc(100% + 1vw + 1vh);
    text-align: center;
}

.fas {
    font-size: 2vh;
}

.my-margin {
    padding-top: 10vh;
}

.my-font-size {
    font-size: 250%;
}

.my-font-size2 {
    font-size: 1.5rem;
}

}

@media (min-width: 992px){
    .text__responsive {
        font-size: inherit;
        text-align: center;
    }
    
    #h1__text {
    font-size: 50px;
    }

    #h6__text {
        font-size: 1.2rem;
    }

    .h3__text {
        font-size: 2rem;
        font-weight: normal;
        margin: 1rem;
}
}